---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import PhotosTile from '../components/PhotosTile';
---

<Layout title="Photos - site(.)moss">
    <Header />
    <main class="pt-24 md:pt-8 pb-10 px-3 sm:px-4 md:px-8 max-w-[1260px] mx-auto animate-page-entry">
        <div class="liquid-glass p-2 relative overflow-hidden rounded-[2.25rem]">
            <PhotosTile client:visible isFullPage={true} />
        </div>
    </main>
</Layout>
